<form [formGroup]="formlyForm" (ngSubmit)="onSubmit(model)">
  <div class="grid">
    <formly-form [form]="formlyForm" [fields]="selectedFormType.formlySchema" [model]="model"></formly-form>
  </div>
  <div class="grid text-right" *ngIf="selectedFormType.formlySchema.length !== 0">
    <div class="col">
      <button type="button" class="mr-3" pButton label="Reset" (click)="onReset()"
              [disabled]="!formlyForm.dirty"></button>
      <button type="submit" pButton label="Submit" [disabled]="!formlyForm.valid"></button>
    </div>
  </div>
</form>
