<p-panel [toggleable]="true" header="Formly form">
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <div class="grid">
      <div *ngFor="let field of fields" class="field"
           [ngClass]="{'has-error': field.formControl?.invalid && field.formControl?.touched}">
        <formly-field [field]="field"></formly-field>
        <div *ngIf="field.formControl?.invalid && field.formControl?.touched" class="error-message">
          <formly-validation-message [field]="field"></formly-validation-message>
        </div>
      </div>
    </div>
    <div class="button-group">
      <button type="submit" pButton label="Submit" [disabled]="!form.valid"></button>
      <button type="button" pButton label="Reset" (click)="onReset()" [disabled]="!form.dirty"></button>
    </div>
  </form>
</p-panel>
