<p-panel [toggleable]="true" header="Formly form">
  <div class="grid">
    <div class="md:col-3">
      <form [formGroup]="formGroup">
        <div class="field">
          <label for="form-type">Form type <span class="text-red-500">*</span></label>
          <p-dropdown
            id="form-type"
            (onChange)="onFormTypeDropDownChange($event)"
            formControlName="selectedFormType"
            [options]="formTypes"
            dataKey="id"
            optionLabel="name"
            placeholder="Select a form type"/>
        </div>
      </form>
    </div>
  </div>
  <p-divider align="center">
    <b>{{ selectedFormType.name }}</b>
  </p-divider>
  <app-fromly-form [selectedFormType]="selectedFormType"/>
</p-panel>
