<p-panel [toggleable]="true" header="Formly form">
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <div class="grid">
      <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      </form>
    </div>
    <div class="grid text-right">
      <div class="col">
        <button type="button" class="mr-3" pButton label="Reset" (click)="onReset()" [disabled]="!form.dirty"></button>
        <button type="submit" pButton label="Submit" [disabled]="!form.valid"></button>
      </div>


    </div>
  </form>
  <pre> {{ model | json }}</pre>
</p-panel>
