<p-panel [toggleable]="true" header="Filters">
  <ng-template pTemplate="icons">
    <p-button (click)="showAdvancedSearchDialog()" [disabled]="disableAdvancedSearch()" icon="pi pi-filter-fill" pTooltip="Advanced Filters"
              styleClass="p-panel-header-icon p-link mr-2"
              tooltipPosition="left"></p-button>
  </ng-template>
  @if (isProductsSuccess && isFinalCustomersSuccess && isCategoriesSuccess) {
    <form [formGroup]="quickFilterForm" (submit)="submitFilters()" (reset)="resetFilters()">
      <div class="align-items-center formgrid grid">
        <div class="field col-12 md:col-3">
          <label for="product">Product
          </label>
          <p-dropdown
            (onChange)="onProductDropDownChange($event)"
            (onClear)="onProductDropDownClear($event)"
            [lazy]="true"
            [appendTo]="document.body"
            dataKey="value"
            [resetFilterOnHide]="true"
            [showClear]="true"
            [filter]="true"
            filterBy="label"
            optionLabel="label"
            styleClass="w-full"
            [options]="productOptions"
            formControlName="product"
            id="product"
            placeholder="Select a product">
          </p-dropdown>

        </div>
        <div class="field col-12 md:col-3">
          <label for="final-customer">Final Customer</label>
          <p-dropdown
            [filter]="true"
            [showClear]="true"
            [resetFilterOnHide]="true"
            dataKey="label"
            [lazy]="true"
            [appendTo]="document.body"
            filterBy="label"
            optionLabel="label"
            styleClass="w-full"
            [options]="finalCustomerOptions"
            formControlName="finalCustomer"
            id="final-customer"
            placeholder="Select a Customer">
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <label for="asset-name">Asset Name</label> <i class="pi pi-info-circle text-xs mx-1"></i> <span class="text-xs text-gray-500">Require select finalProducts from Categories</span>
          <input (change)="onAssetNameChange($event)" pKeyFilter="alphanum" class="w-full" pInputText formControlName="assetName"
                 id="asset-name"
                 placeholder="Enter Asset Name"/>
        </div>
        <div class="col xl:justify-content-end flex align-items-center">
          <p-button [disabled]="makeFormDisabled(quickFilterForm.value)" (click)="submitFilters()" type="button"
                    styleClass="bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">
            Apply
          </p-button>
          <p-button (click)="resetFilters()" label="Clear Filters" [link]="true"></p-button>
        </div>
      </div>
    </form>
  }
  @if (isProductsLoading && isFinalCustomersLoading && isCategoriesLoading) {
    <div class="align-items-center formgrid grid">
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>

      </div>
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>

      </div>
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>
      </div>
    </div>
  }
  @if (isProductsFailed || isFinalCustomersFailed || isCategoriesFailed) {
    <div class="grid align-items-center justify-content-center">
      <div class="col-12 flex flex-column align-items-center justify-content-center">
        <img alt="Error" height="72" ngSrc="./assets/error.png" width="72" priority/>
        <h2 class="text-red-500 m-0 p-0 font-bold text-3xl">Ops!</h2>
        <p class="p-0 m-0 mb-0">Something Went Wrong please Try Again</p>
      </div>
      <div class="col-2 py-0">
        <p-button (click)="getQuickFiltersData()" styleClass="p-button-sm w-full" label="Retry"></p-button>
      </div>
    </div>
  }
</p-panel>
