<p-panel [toggleable]="true" [toggler]="'header'" header="Quick Search">
  @if (isProductFamiliesSuccess || isFinalCustomersSuccess) {
    <form [formGroup]="quickFilterForm" (submit)="submitFilters()" (reset)="resetFilters()">
      <div class="align-items-center formgrid grid">
        <div class="field col-12 md:col-3">
          <label for="product">Product <span class="text-red-500">*</span></label>
          <p-dropdown
            (onChange)="onProductDropDownChange($event)"
            [lazy]="true"
            [appendTo]="document.body"
            dataKey="value"
            [resetFilterOnHide]="true"
            [showClear]="true"
            [filter]="true"
            filterBy="label"
            optionLabel="label"
            styleClass="w-full"
            [options]="productOptions"
            formControlName="product"
            id="product"
            placeholder="Select a product">
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <label for="final-customer">Final Customer</label>
          <p-dropdown
            [filter]="true"
            [showClear]="true"
            [resetFilterOnHide]="true"
            dataKey="label"
            [lazy]="true"
            [appendTo]="document.body"
            filterBy="label"
            optionLabel="label"
            styleClass="w-full"
            [options]="finalCustomerOptions"
            formControlName="finalCustomer"
            id="final-customer"
            placeholder="Select a Customer">
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <label for="asset-name">Asset Type</label>
          <input pKeyFilter="alphanum" class="w-full" pInputText formControlName="assetName" id="asset-name"
                 placeholder="Enter Asset Type"/>
        </div>
        <div class="col xl:justify-content-end flex align-items-center">
          <p-button [disabled]="!quickFilterForm.get('product')?.value" (click)="submitFilters()" type="button"
                    styleClass="bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">
            Apply
          </p-button>
          <p-button (click)="resetFilters()" label="Clear Filters" [link]="true"></p-button>
        </div>
      </div>
    </form>
  } @else {
    <div class="align-items-center formgrid grid">
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>

      </div>
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>

      </div>
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>
      </div>
    </div>
  }
</p-panel>
