<p-panel [toggleable]="true" header="Filters">
  <ng-template pTemplate="icons">
    <p-button (click)="showAdvancedSearchDialog()" [disabled]="disableAdvancedSearch()" icon="pi pi-filter-fill" pTooltip="Advanced Filters"
              styleClass="p-panel-header-icon p-link mr-2"
              tooltipPosition="left"></p-button>
  </ng-template>
  @if (isProductsSuccess && isFinalCustomersSuccess && isCategoriesSuccess) {
    <form [formGroup]="quickFilterForm" (submit)="submitFilters()" (reset)="resetFilters()">
      <div class="align-items-center formgrid grid" >
        <div class="field col-12 md:col-3" joyrideStep="step1" [stepContent]="step1Content">
          <ng-template #step1Content>
            You can here find the product by searching in name and it will get data for this name.
          </ng-template>
          <label for="product">Product
          </label>
          <p-dropdown
            (onChange)="onProductDropDownChange($event)"
            (onClear)="onProductDropDownClear($event)"
            [lazy]="true"
            [appendTo]="document.body"
            dataKey="value"
            [resetFilterOnHide]="true"
            [showClear]="true"
            [filter]="true"
            filterBy="label"
            optionLabel="label"
            styleClass="w-full"
            [options]="productOptions"
            formControlName="product"
            id="product"
            placeholder="Select a product">
          </p-dropdown>

        </div>
        <div class="field col-12 md:col-3"  joyrideStep="step2" [stepContent]="step2Content" >
          <ng-template #step2Content>
            This is the Final Customer drop down to select the final customer and add filters.
          </ng-template>
          <label for="final-customer">Final Customer</label>
          <p-dropdown
            [filter]="true"
            [showClear]="true"
            [resetFilterOnHide]="true"
            dataKey="label"
            [lazy]="true"
            [appendTo]="document.body"
            filterBy="label"
            optionLabel="label"
            styleClass="w-full"
            [options]="finalCustomerOptions"
            formControlName="finalCustomer"
            id="final-customer"
            placeholder="Select a Customer">
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-3" joyrideStep="step3" [stepContent]="step3Content">
          <ng-template #step3Content>
            Here you can type file name and when its valid you will see search for more filters here to filter asset name to relevant data
          </ng-template>
          <div class="flex justify-content-between">
            <label class="mb-2" for="asset-name">Asset Name</label>
            @if (showSearchIcons) {
              <i (click)="showAdvancedSearchDialog()" pTooltip="Filter asset name" class="pi pi-search-plus mx-1 cursor-pointer"></i>
            }
          </div>

          <input (keyup)="onAssetNameChange($event)" pKeyFilter="num" class="w-full" pInputText formControlName="assetName"
                 id="asset-name"
                 placeholder="Enter Asset Name"/>
        </div>
        <div class="col xl:justify-content-end flex align-items-center">
          <p-button label="Apply" [disabled]="makeFormDisabled(quickFilterForm.value)" (click)="submitFilters()" type="button"
                    styleClass="bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">

          </p-button>
          <p-button (click)="resetFilters()" label="Clear Filters" [link]="true"></p-button>
        </div>
      </div>
    </form>
  }
  @if (isProductsLoading && isFinalCustomersLoading && isCategoriesLoading) {
    <div class="align-items-center formgrid grid" >
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>

      </div>
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>

      </div>
      <div class="field col-12 md:col-3">
        <p-skeleton width="30%" height=".5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" height="32px"></p-skeleton>
      </div>
    </div>
  }
  @if (isProductsFailed || isFinalCustomersFailed || isCategoriesFailed) {
    <div class="grid align-items-center justify-content-center">
      <div class="col-12 flex flex-column align-items-center justify-content-center">
        <img alt="Error" height="72" ngSrc="./assets/error.png" width="72" priority/>
        <h2 class="text-red-500 m-0 p-0 font-bold text-3xl">Ops!</h2>
        <p class="p-0 m-0 mb-0">Something Went Wrong please Try Again</p>
      </div>
      <div class="col-2 py-0">
        <p-button (click)="getQuickFiltersData()" styleClass="p-button-sm w-full" label="Retry"></p-button>
      </div>
    </div>
  }
  <!-- Templates for Joyride step content -->
  <ng-template #step1Title>Step 1</ng-template>
  <ng-template #step1Content>
    <p>Welcome to the tutorial!</p>
  </ng-template>

  <ng-template #step2Title>Step 2</ng-template>
  <ng-template #step2Content>
    <p>This is step 2 of the tour.</p>
  </ng-template>

  <ng-template #step3Title>Step 3</ng-template>
  <ng-template #step3Content>
    <p>This is step 3 of the tour.</p>
  </ng-template>
</p-panel>
