::ng-deep {
  &.advanced-search-dialog {
    &.p-dialog {
      .p-dialog-content {
        .p-treeselect-label {
          display: block;
          white-space: nowrap;
          cursor: pointer;
          overflow: auto;
          text-overflow: initial;
        }
      }

      .p-dialog-footer {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 1rem;
        border-top: 1px solid #e5e5e5;

        .p-button {
          padding: .5rem 1rem;
          font-size: 1rem;
          border-radius: 4px;

        }
      }
    }
  }
}


