<p-dialog (onHide)="closeDialog()" [(visible)]="showDialog" [closeOnEscape]="false" [draggable]="false" [maximizable]="false"
          [modal]="true"
          [style]="{ width: '1200px' }" header="Filter Asset Name"
          styleClass="advanced-search-dialog">
  <ng-template pTemplate="content">
    <div class="field grid">
      <div class="md:col-2">
        <form [formGroup]="formGroup">
          <label for="asset-name">Asset Name</label>
          <input [size]="4" class="w-full" formControlName="assetName" id="asset-name" pInputText readonly value="">
        </form>
      </div>
      <div class="md:col-5">
        <form [formGroup]="formGroup">
          <label for="categories">Categories</label>
          <p-treeSelect
            [appendTo]="document.body"
            [className]="'w-full'"
            [metaKeySelection]="false"
            [options]="categories"
            [showClear]="true"
            containerStyleClass="w-full"
            display="chip"
            formControlName="selectedCategories"
            id="categories"
            placeholder="Select One or multiple"
            selectionMode="multiple">
          </p-treeSelect>
        </form>
      </div>
      <div class="md:col-5">
        <form [formGroup]="formGroup">
          <label for="selectedProducts">Products</label>
          <p-multiSelect
            display="chip"
            [appendTo]="document.body"
            styleClass="w-full"
            [options]="products"
            formControlName="selectedProducts"
            id="selectedProducts"
            optionLabel="label"
            placeholder="Select Product or multiple"/>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="col-auto">
      <p-button
        (click)="closeDialog()"
        [autofocus]="false"
        [text]="true"
        label="Filter"
        severity="success"
        styleClass="mr-2 p-button-sm"/>
      <p-button
        (click)="closeDialog()"
        [autofocus]="false"
        [text]="true"
        label="Cancel"
        severity="danger"
        styleClass="mr-2 p-button-sm"/>

    </div>
  </ng-template>
</p-dialog>
